*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}
nav{
    width: 1250px;
    height: 90px;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    background: rgba(26, 11, 46, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 14px 180px;
}
ul{
    display: flex;
    list-style: none;
    gap: 18px;
}
button{
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    padding: 10px 13px 11px 13px;
}
.head{
    color: #00FF88;
    border: 1px solid var(--#00FF88, rgba(0, 255, 136, 1));
    border-radius: 10000px;
    
}
main{
    width: 1250px;
    height: 600px;
    background-image: url(amit/assigment2/B13-A02-TechWave/assets/hero-bg.png);
    margin: auto;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.amit{
width: 70px;
height: 35px;
box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
border-radius:15px;
position: relative;
left: 250px;
bottom: 180px;
background-color: #00FF88;
}
.amit h3{
   text-align: center;
   position: relative;
   top: 5px;
}

.content{
    width: 300px;
    height: 300px;
    border: 8px solid rgba(42, 24, 108, 1);
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 35px;
    bottom: 40px;
}

section{
    width: 1250px;
    height: 500px;
    background: rgba(26, 11, 46, 1);
    margin: auto;
    padding: 110px 200px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
.main{
     width: 840px;
     height: 120px;
    display: flex;
    margin: 150px 180px;
    
}
.box1,.box2,.box3,.box4{
    gap: 20px;
    padding: 10px;
}
.mother{ 
    width:850px;
    height:500px ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    margin: 150px auto;
}
.grid h1{
    position: relative;
    top: 50px;
}

.grid{
    width: 1250px;
    height: 800px;
    background: rgba(35, 14, 61, 1);
    margin: auto;
}
.topick1{
    grid-row: span 2;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
     padding: 15px;
}
.topick2{
    grid-column: span 2;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
     padding: 15px;
}
.topick3{
    grid-column: span 2;
    border-radius: 40px;
     background: rgba(53, 17, 101, 0.4);
      padding: 15px;
}
.topick4{
    grid-column: span 2;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
     padding: 15px;
}
.topick5{
    grid-column: span 1;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 15px;
}
img{
    margin:15px 50px;
}
.card-contener{
    width: 1250px;
    height: 950px;
    background: rgba(26, 11, 46, 1);
    margin: auto;
    padding: 100px 180px;
}
.card-contener h1{
     margin: 15px;
    padding: 20px;
    position: relative;
    bottom: 60px;
}
.md{
    text-align: center;
    padding: 30px;
}
.card{
    display: flex;
    gap: 15px;
    margin: auto;
    
}
 video{
    border-radius: 24px 24px 0px 0px;
    
 }
.crad1{
    width: 300px;
    height: 350px;
    border-radius: 24px 24px 24px 24px;
    background: rgba(37, 13, 68, 1);
   padding:0px;
  
}
.crad1 h3,.card2 h3,.card3 h3{
    color: green;
    padding: 15px;
     margin: 10px 40px;
     background-image: url(amit/B13-A02-TechWave/assets/clock.png);
     background-repeat: no-repeat;
     display: flex;
}
.card2{
    width: 300px;
    height: 350px;
    border-radius: 24px 24px 24px 24px;
    background: rgba(37, 13, 68, 1);
    
}
.card3{
    width: 300px;
    height: 350px;
    border-radius: 24px 24px 24px 24px;
    background: rgba(37, 13, 68, 1);
   
}
.resume{
    width: 890px;
    height: 250px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    display: flex;
}
.principal{
    align-content: center;
    padding: 3px;
}

footer{
    width: 1250px;
    height: 350px;
    background-image: url(amit/assigment2/B13-A02-TechWave/assets/footer-bg.png);
    margin: auto;
    background-size: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;

}
.images{
    display: flex;
   margin:auto;
   position: relative;
   right: 8px;
   gap: 20px;
}
.footer{
  width:400px;
  height: 250px;
  margin: 180px;
  position: relative;
  top: 50px;
}
.footer p{
    text-align: center;
}
.crad1 h4{
   margin: 15px;
}
.country{
    display: flex;
    position: relative;
    top: 15px;
    gap: 10px;
}
.icone{
width: 39px;
height: 39px;
border-radius: 50%;
border: 1px solid rgba(83, 60, 114, 1);
display: flex;
justify-content: center;
align-items: center;
}

@media screen and (max-width:576px) {
              
    nav{
        width: 100%;
        height: 120px;
        flex-direction: column;
    }
    button{
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    
    }
    main{
        width: 100%;
        height: 400px;
        

    }
    section{
        width: 100%;
        height: 500px;
          padding: 15px;
    }
    .main{
    width: 100%;
    height: 200px;
    margin: 0px;
    flex-direction: column;
    
        

    }
    .grid h1{
        width: 100%;
        font-size: 28px;
        
    }
 .grid,.hello{
        text-align: center;
        
 }
      
      
      .grid{
        width: 100%;
        height: 850px;
       
      
      }
       .grid,.hello, .mother{
        width: 100%;
        
        
      }
      .mother{
          height: 1000px;
          display: block;
          gap: 20px;
          margin: 0px;
          grid-template-columns: repeat(1,1fr);
          grid-template-rows: repeat(1,1fr);
      }
      .topick1,.topick2,.topick3,.topick4,.topick5{
        grid-column: span 1;
        grid-row: span 1;
        padding: 0px;
      }
      .topick1 img{
         margin: 0px;
      }
      .card-contener,.card,.resume{
        width: 100%;

      }
      .card{
         flex-direction: column;
         align-items: center;
         height: 1100px;
      }
       .card-contener{
        padding: 0px;
        height: 1800px;
       }
         .card-contener h1{
            margin: 0px;
            padding: 0px;
            font-size: 30px;

         }
         .crad1 h3{
             margin: 0px;
         }
          .card2 h3{
             margin: 0px;
         }
          .card3 h3{
             margin: 0px;
         }
         .md{
            width: 100%;
         }
         footer{
            width: 100%;
            height: 250px;
            flex-direction: column;
         }

         .footer{
            margin: 0px;
              width:100%;
              height: 150px;
              position: relative;
              left: 15px;
              top: 10px;

         }

         .resume{
            width: 100%;
            height: 550px;
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
         }
         .images{
            text-align: center;



         }

}