*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}
nav{
    width: 1250px;
    height: 90px;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    background: rgba(26, 11, 46, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 14px 180px;
}
ul{
    display: flex;
    list-style: none;
    gap: 18px;
}
button{
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    padding: 10px 13px 11px 13px;
}
.head{
    color: #00FF88;
    border: 1px solid var(--#00FF88, rgba(0, 255, 136, 1));
    border-radius: 10000px;
    
}
main{
    width: 1250px;
    height: 700px;
    background-image: url(amit/assigment2/B13-A02-TechWave/assets/hero-bg.png);
    margin: auto;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 300px;
    height: 300px;
    border: 8px solid rgba(42, 24, 108, 1);
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 1250px;
    height: 500px;
    background: rgba(26, 11, 46, 1);
    margin: auto;
    padding: 110px 200px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
.main{
     width: 840px;
     height: 120px;
    display: flex;
    margin: 150px 180px;
    
}
.box1,.box2,.box3,.box4{
    gap: 20px;
    padding: 10px;
}
.mother{ 
    width:850px;
    height:500px ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    margin: 150px auto;
}
.grid h1{
    position: relative;
    top: 50px;
}

.grid{
    width: 1250px;
    height: 800px;
    background: rgba(35, 14, 61, 1);
    margin: auto;
}
.topick1{
    grid-row: span 2;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
     padding: 15px;
}
.topick2{
    grid-column: span 2;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
     padding: 15px;
}
.topick3{
    grid-column: span 2;
    border-radius: 40px;
     background: rgba(53, 17, 101, 0.4);
      padding: 15px;
}
.topick4{
    grid-column: span 2;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
     padding: 15px;
}
.topick5{
    grid-column: span 1;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 15px;
}
img{
    margin:15px 50px;
}
.card-contener{
    width: 1250px;
    height: 950px;
    background: rgba(26, 11, 46, 1);
    margin: auto;
    padding: 100px 180px;
}
.card-contener h1{
    margin: 15px;
    padding: 20px;
}
.card{
    display: flex;
    gap: 15px;
    margin: auto;
    
}
 video{
    border-radius: 24px 24px 0px 0px;
    
 }
.crad1{
    width: 300px;
    height: 350px;
    border-radius: 24px 24px 24px 24px;
    background: rgba(37, 13, 68, 1);
   padding:0px;
  
}
.crad1 h3,.card2 h3,.card3 h3{
    color: green;
    padding: 15px;
     margin: 10px 40px;
     background-image: url(amit/B13-A02-TechWave/assets/clock.png);
     background-repeat: no-repeat;
     display: flex;
}
.card2{
    width: 300px;
    height: 350px;
    border-radius: 24px 24px 24px 24px;
    background: rgba(37, 13, 68, 1);
    
}
.card3{
    width: 300px;
    height: 350px;
    border-radius: 24px 24px 24px 24px;
    background: rgba(37, 13, 68, 1);
   
}
.resume{
    width: 890px;
    height: 250px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    display: flex;
}
.principal{
    align-content: center;
    padding: 3px;
}
